<div *ngIf="application">
  <div class="mt-3 mb-3">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="card-title">{{application.name}}</h3>
        <h4 class="card-subtitle mb-2 text-muted">{{application.description}}</h4>
        <hr/>
        <div class="d-flex justify-content-between">
          <h5>End-to-End Tests</h5>
          <button (click)="executeEndToEndTests()" class="btn btn-dark">Execute tests</button>
        </div>
        <div class="row">
          <div *ngFor="let endToEndTest of endToEndTests"
               class="col-3 d-flex align-items-stretch mb-3 mt-3">
            <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title">
                  <a routerLink="/end-to-end-tests/{{endToEndTest._id}}">
                    {{endToEndTest.test.name}}
                  </a>
                </h5>
                <div class="card-text">
                  {{endToEndTest.test.description}}
                  <div [ngSwitch]="endToEndTest.generated">
                    <strong *ngSwitchCase="true" class="text-primary">Script generated</strong>
                    <strong *ngSwitchCase="false" class="text-secondary">Script not generated</strong>
                  </div>
                  <div [ngSwitch]="endToEndTest.executed">
                    <strong *ngSwitchCase="true" class="text-primary">Executed</strong>
                    <strong *ngSwitchCase="false" class="text-secondary">Not executed</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a routerLink="/applications/{{application._id}}/end-to-end-tests/new" class="btn btn-dark">
          Add End to End Test
        </a>
      </div>
    </div>
  </div>
</div>
