<div *ngIf="application">
  <div class="mt-3 mb-3">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="card-title">{{application.name}}</h3>
        <h4 class="card-subtitle mb-2 text-muted">{{application.description}}</h4>
        <hr/>
        <h5>End-to-End Tests</h5>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active">
            Cras justo odio
          </a>
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>
</div>
